
<html>
  <head>
    <title>Merge Status for Release Branch {{ .Branch }}</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
<body>
  <table>
  <!-- <tr> -->
  <!--   <th>Analysis</th> -->
  <!--   <th></th> -->
  <!-- </tr> -->
  <tr>
    <td class="theader">Branch</td>
    <td><tt>{{ .Branch }}</tt></td>
  </tr>
  <tr>
    <td class="theader">Rev</td>
    <td><tt>{{ .Rev }}</tt></td>
  </tr>

  <tr>
    <td class="theader">Label(s)</td>
    <td>
      {{ range $i, $e := .LabelList }}
      <div style="background-color: #{{ .Color }}; display: inline-block; padding: 3px; ">
        <b>{{ $e.Label }}</b>
      </div>
      {{ end }}
    </td>
  </tr>


  <!-- {{ range $i, $e := .LabelList }} -->
  <!-- <tr> -->
  <!--   {{ if $i }} -->
  <!--   <td class="theader"></td> -->
  <!--   {{ else }} -->
  <!--   <td class="theader">Label</td> -->
  <!--   {{ end }} -->
  <!--   <td> -->
  <!--   <div style="background-color: #{{ .Color }}; display: inline-block; padding: 3px; "> -->
  <!--     <b>{{ $e.Label }}</b> -->
  <!--   </div> -->
  <!--   </td> -->
  <!-- </tr> -->
  <!-- {{ end }} -->

  <tr>
    <td class="theader">URL</td>
    <td><tt><a href="{{ .Url }}">{{ .Url }}</a></tt></td>
  </tr>
  </table>

 <!--  Analysis for branch: <tt>{{ .Branch }}</tt>, labels: -->
 <!--  {{ range .LabelList }} -->
 <!--    <div style="background-color: #{{ .Color }}; display: inline-block; padding: 3px; "> -->
 <!--      <b>{{ .Label }}</b> -->
 <!--    </div> -->
 <!--  {{ end }} -->
 <!-- </br> -->
 <!--  Url: <a href="{{ .Url }}">{{ .Url }}</a></br></br> -->
  </br>
  <a href="http://www.red.af/vt">Back To Select Labels/Branch</a>
  </br></br>

  <table>
  <!-- <tr> -->
  <!--   <th></th> -->
  <!--   <th>Method</th> -->
  <!-- </tr> -->
  <tr>
    <td><b>*</b></td>
    <td>Used pattern matching on issue # in log to determine status</td>
  </tr>
  <tr>
    <td><b>**</b></td>
    <td>Used pattern matching on the first commit message on branch determine status </td>
  </tr>
  </table>

  </br>

  <table>
    <tr>
      <th>Issue</th>
      <th>PR</th>
      <th>Issue State</th>
      <th>Status</th>
      <th>Branch</th>
      <th>Matching Labels</th>
      <th>Method</th>
    </tr>
    {{ range .List }}
    {{ if eq .Spacer false }}
    <tr>
      <td align="center">
        {{ if ne .Issue "" }}
        <a href="https://github.com/DARMA-tasking/vt/issues/{{ .Issue }}">
          {{ .Issue }}
        </a>
        {{ end }}
      </td>
      <td align="center">
        {{ if ne .PR "" }}
        <a href="https://github.com/DARMA-tasking/vt/pull/{{ .PR }}">
          {{ .PR }}
        </a>
        {{ end }}
      </td>
      <td align="center">
        {{ if eq .Status "merged correctly" }}
        <b><font color="#2BB44A">Merged Correctly</font></b>
        {{ end }}
        {{ if eq .Status "merged incorrectly" }}
        <b><font color="#B42B2B">Merged Incorrectly</font></b>
        {{ end }}
        {{ if eq .Status "unmerged incorrectly" }}
        <b><font color="#F54B4B">Unmerged Incorrectly</font></b>
        {{ end }}
        {{ if eq .Status "unmerged correctly" }}
        <b><font color="#0F5AC8">Unmerged Correctly</font></b>
        {{ end }}
        {{ if eq .Status "nobranch" }}
        <b><font color="#CD6616">No Branch Found in Repo</font></b>
        {{ end }}
      </td>
      <td align="center">{{ .IssueStatus }}</td>
      <td><tt>{{ .Branch }}</tt></td>
      <td align="center">
        {{ range .Labels }}
        <div style="background-color: #{{ .Color }}; display: inline-block; padding: 3px; ">
          <center><b><a href="{{ .Url }}">{{ .Label }}</a></b></center>
        </div>
        {{ end }}
      </td>
      <td align="center">{{ .Caveat }}</td>
    </tr>
    {{ end }}
    {{ if eq .Spacer true }}
      {{ if eq .SpacerStatus false }}
      <tr>
        <td></td>
        <td></td>
        <td align="center">
          None Found:
          {{ if eq .Status "merged correctly" }}
          <b><font color="#2BB44A">Merged Correctly</font></b>
          {{ end }}
          {{ if eq .Status "merged incorrectly" }}
          <b><font color="#B42B2B">Merged Incorrectly</font></b>
          {{ end }}
          {{ if eq .Status "unmerged incorrectly" }}
          <b><font color="#F54B4B">Unmerged Incorrectly</font></b>
          {{ end }}
          {{ if eq .Status "unmerged correctly" }}
          <b><font color="#0F5AC8">Unmerged Correctly</font></b>
          {{ end }}
          {{ if eq .Status "nobranch" }}
          <b><font color="#CD6616">No Branch Found in Repo</font></b>
          {{ end }}
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      {{ end }}
    {{ end }}

    {{ end }}
  </table>
</body>
</html>
